<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Form</title>
</head>
<body>
         <a href="index">Home </a>


<h1>Author form</h1>
<h3>Create New Author</h3>

<form method="POST" action="authorform">
    {% csrf_token %}

    <label>Author Id :</label>
    {{form.Aid}}
    <br>
    <label>Author Name :</label>
    {{form.Aname}}
    <br>
    <label>Author BirthDate :</label>
    <input type="date" name="Adob">
    <br>


    <button type="reset"> Clear Form </button>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>