<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My social media website</title>
    <style>
        div{
        border:10 px solid red;
        color:pink;
        }
    </style>
</head>
<body>
<div> <h1> Welcome To SMW Internationals !!</h1>
    <div><h2><strong> <a href="/home" >Home</a> | <a href="/signup/signup" >Sign Up </a>  | <a href="profile/profile">Profile</a> </strong></h2></div>
</div>
{% block content %}
{%endblock %}
</body>
</html>