{% extends 'base.html' %}
{% block content %}



{% if user.is_authenticated %}
<h1> Hii {{user.username}}</h1>

{%endif%}
<br>
<br>


<h1> You are Not Login ?</h1>

<div id="user">
    {% for i in data1%}
    <h1 style="{color:black}">{{i}}</h1>
    {%endfor%}
</div>
    <div>
        {% for i in data2%}
    <h1 style="color:red">{{i}}</h1>
    {%endfor%}
    </div>
    <div>
        {% for i in data3%}
    <h1 style="color:red">{{i}}</h1>
    {%endfor%}
    </div>
   <div>
       <form method="POST" action="/post">{%csrf_token%}
           {{form}}
           <input type="submit" value="create profile">
       </form>
       </div>

{%endblock%}