<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social media site</title>
</head>
<body>
<header> Welcome to Socisl media site !!</header>

<br>
<a href="signup"> Sign up</a>
<br>
<div>
        <h1>Login Form </h1>

    <form method="POST" action="login">
         {% csrf_token %}
        <label> Username : </label>
        <input type="text" name="username">
        <br>
        <br>

        <label> Password :</label>
        <input type="password" name="password">

        <br><br>
        <br><br><br>
        <br>
        <input type="submit" value="Login !!">

    </form>
</div>
</body>
</html>