<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
</head>
<body>
 <a href="index">Home </a>


<h1>Post Form</h1>
<h3>Create New Post ...</h3>

<form method="POST" action="postform">
    {% csrf_token %}


    <label>Post  Id :</label>
    {{form.pid}}

    <br>
    <label>Title :</label>
    {{form.title}}
    <br>
    <br>
    <label>Author :</label>
    {{form.Author}}
    <br>
    <label>Created Date :</label>
    <input type="date" name="cdate">
    <br>
    <br>
    <label>Post :</label>
    {{form.post}}

    <button type="reset"> Clear Form </button>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>