<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Profile</title>
</head>
<body>
<form method="POST" action="profile">
    {% csrf_token %}

    <label>User</label>
    {{form.user}}<br><br>
    <label> Nickname</label>
{{form.nickname}}<br><br>
    <label>Birth Date :</label>
<input type="date" value="dob"><br><br>
    <label>Phone No :  </label>
{{form.phoneno}}<br><br>
    <label> Gender : </label>
    {{form.gender}}
    <br><br>

    <label> Realation Status</label>
    {{form.relation}}<br><br>





    <input type="submit" value="Craete profiel"><br><br>
</form>
</body>
</html>